<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Agregar Campeon</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="list-circle-outline" (click)="gotoList()"></ion-icon>
        Lista de Personajes
      </ion-tab-button>
      <ion-tab-button tab="radio">
        <ion-icon name="home-outline" (click)="gotoHome()"></ion-icon>
        Volver al inicio
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">champion-add</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="ionicForm" (ngSubmit)="addChamp()" novalidate class="ion-padding form">
    <ion-item lines="full">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input formControlName="name" type="text" aria-label="Name" maxlength="45"></ion-input>
    </ion-item>
    <div *ngIf="ionicForm.controls?.name.touched && ionicForm.controls?.name.invalid" class="ion-padding error">
      <ion-text color="danger">Necesitas poner un nombre.</ion-text>
    </div>

    <ion-item lines="full">
      <ion-label position="floating">Rol</ion-label>
      <ion-input formControlName="role" aria-label="Role" type="role" maxlength="45"></ion-input>
    </ion-item>
    <div *ngIf="ionicForm.controls?.role.touched && ionicForm.controls?.role.invalid" class="ion-padding error">
      <ion-text color="danger">Necesitas poner un rol.</ion-text>
    </div>

    <ion-item lines="full">
      <ion-label position="floating">Daño</ion-label>
      <ion-input maxlength="45" formControlName="damage" type="damage" aria-label="Damage" required></ion-input>
    </ion-item>
    <div *ngIf="ionicForm.controls?.damage.touched && ionicForm.controls?.damage.invalid" class="ion-padding error">
      <ion-text color="danger">Necesitas poner un tipo de daño.</ion-text>
    </div>

    <ion-button type="submit" color="danger" expand="full" class="add-button">Nuevo Campeon</ion-button>
  </form>
</ion-content>
